<form class="resume-form" [formGroup]="resume">

  <mat-form-field>
    <input matInput formControlName="fullname" placeholder="full name">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="position" placeholder="main role or position">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="bio" placeholder="personal background"></textarea>
  </mat-form-field>

  <!-- CONTACT INFO -->

  <h3>Contact</h3>
  <mat-grid-list cols="3" rowHeight="2rem">

    <mat-grid-tile>
      <mat-icon aria-label=""><i class="material-icons">email</i></mat-icon>
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="email">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-icon aria-label=""><i class="material-icons">code</i></mat-icon>
      <mat-form-field>
        <input matInput formControlName="github" placeholder="github">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-icon aria-label=""><i class="material-icons">work</i></mat-icon>
      <mat-form-field>
        <input matInput formControlName="linkedIn" placeholder="linkedIn">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-icon aria-label=""><i class="material-icons">call</i></mat-icon>
      <mat-form-field>
        <input matInput formControlName="skypeID" placeholder="skype id">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-icon aria-label=""><i class="material-icons">web</i></mat-icon>
      <mat-form-field>
        <input matInput formControlName="website" placeholder="personal website">
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

  <!-- EXPERIENCES -->

  <h3>
    Job Experience
    <button mat-icon-button color="primary" (click)="addExperienceEntry()">
      <mat-icon aria-label="new skill"><i class="material-icons">
          add_circle_outline
        </i></mat-icon>
    </button>
  </h3>

  <mat-list-item formArrayName="experiences" *ngFor="let expEntry of resume.get('experiences').controls; let e = index;">

    <div [formGroupName]="e">

      <mat-card>
        <mat-card-header>
          <mat-card-title>

            <mat-form-field>
              <input matInput type="text" formControlName="position" placeholder="position">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" formControlName="company" placeholder="where">
            </mat-form-field>

          </mat-card-title>

          <mat-card-subtitle>
            <mat-form-field>
              <input matInput [matDatepicker]="ee" placeholder="from" formControlName="from">
              <mat-datepicker-toggle matSuffix [for]="ee"></mat-datepicker-toggle>
              <mat-datepicker #ee></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="to" placeholder="to" formControlName="to">
              <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
              <mat-datepicker #to></mat-datepicker>
            </mat-form-field>
          </mat-card-subtitle>

        </mat-card-header>

        <mat-card-content>
          <mat-form-field style="width:100%;">
            <textarea rows="3" matInput formControlName="summary" placeholder="detail"></textarea>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions [align]="'end'">
          <button mat-icon-button color="warn" (click)="removeExperienceEntry(e)">
            <mat-icon aria-label="delete">
              <i class="material-icons">
                remove_circle_outline
              </i>
            </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-list-item>

  <!-- SKILLS -->

  <h3>
    Skills
    <button mat-icon-button color="primary" (click)="addSkill()">
      <mat-icon aria-label="new skill"><i class="material-icons">
          add_circle_outline
        </i></mat-icon>
    </button>
  </h3>

  <mat-list-item formArrayName="skills" *ngFor="let skill of resume.get('skills').controls; let i = index;">

    <div [formGroupName]="i">

      <button mat-icon-button color="warn" (click)="removeSkill(i)">
        <mat-icon aria-label="delete">
          <i class="material-icons">
            remove_circle_outline
          </i>
        </mat-icon>
      </button>

      <mat-form-field>
        <input matInput formControlName="name" placeholder="Skill name">
      </mat-form-field>

      <mat-slider thumbLabel formControlName="grade" tickInterval="1" min="1" max="5"></mat-slider>

    </div>
  </mat-list-item>

  <!-- LANGUAGES -->

  <h3>
    Languages
    <button mat-icon-button color="primary" (click)="addLanguage()">
      <mat-icon aria-label="new language"><i class="material-icons">
          add_circle_outline
        </i></mat-icon>
    </button>
  </h3>

  <mat-list-item formArrayName="languages" *ngFor="let language of resume.get('languages').controls; let j = index;">

    <div [formGroupName]="j">

      <button mat-icon-button color="warn" (click)="removeLanguage(j)">
        <mat-icon aria-label="delete">
          <i class="material-icons">
            remove_circle_outline
          </i>
        </mat-icon>
      </button>

      <mat-form-field>
        <input matInput formControlName="name" placeholder="Language">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Level" formControlName="grade">
          <mat-option *ngFor="let g of languageGrades" [value]="g.grade">
            {{g.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </mat-list-item>

</form>

<app-resume-form-toolbar (save)="onSave($event)" [formValid]="resume.valid"></app-resume-form-toolbar>