<div class="spacer"></div>

<article id="resume-node" class="minimalist--black">

  <header class="resume-header">
    <h1>{{ resumeModel.fullname }}</h1>
    <h3>{{ resumeModel.position }}</h3>
  </header>

  <section class="resume-body">

    <div class="resume-col">

      <article class="resume-entry">
        <h4>profile</h4>
        <p>{{ resumeModel.bio }}</p>
      </article>

      <article class="resume-entry entry-contact">
        <h4>contact</h4>
        <p *ngIf="!!resumeModel.contact.email">
          <mat-icon aria-label=""><i class="material-icons">email</i></mat-icon>
          <span>{{ resumeModel.contact.email }}</span>
        </p>
        <p *ngIf="!!resumeModel.contact.github">
          <img class="resume-logo-img" src="../../../assets/GitHub-Mark-32px.png" />
          <span>{{ resumeModel.contact.github }}</span>
        </p>
        <p *ngIf="!!resumeModel.contact.linkedIn">
          <img class="resume-logo-img" src="../../../assets/In-2C-34px-R.png" />
          <span>{{ resumeModel.contact.linkedIn }}</span>
        </p>
        <p *ngIf="!!resumeModel.contact.skypeID">
          <img class="resume-logo-img" src="../../../assets/skype-icon.svg" />
          <span>{{ resumeModel.contact.skypeID }}</span>
        </p>
        <p *ngIf="!!resumeModel.contact.website">
          <mat-icon aria-label=""><i class="material-icons">web</i></mat-icon>
          <span>{{ resumeModel.contact.website }}</span>
        </p>
      </article>

      <article class="resume-entry">
        <h4>languages</h4>
        <ul class="entry-list--graded">
          <li *ngFor="let l of resumeModel.languages">
            <span>{{ l.name }}</span><span>{{ gradeToLabel(l) }}</span>
          </li>
        </ul>
      </article>

    </div>

    <div class="resume-col">

      <article class="resume-entry">
        <h4>experience</h4>
        <ul class="entry-list--simple">
          <li *ngFor="let e of resumeModel.experiences">
            <p>{{ e.position }} at {{ e.company }}, from <span>{{ e.from | date }} to {{ e.to | date }}</span></p>
            <p>{{ e.summary }}</p>
          </li>
        </ul>
      </article>

      <article class="resume-entry">
        <h4>skills</h4>
        <ul class="entry-list--graded">
          <li *ngFor="let s of resumeModel.skills">
            <span>{{ s.name }}</span>
            <span>
              <i *ngFor="let g of asArray(s.grade)">
                <i class="material-icons">
                  lens
                </i>
              </i>
              <i *ngFor="let nog of asMissingArray(s.grade)">
                <i class="material-icons">
                  panorama_fish_eye
                </i>
              </i>
            </span>
          </li>
        </ul>
      </article>

    </div>

  </section>

</article>

<app-resume-preview-toolbar (save)="saveAsPDF()"></app-resume-preview-toolbar>
