<div class="spacer"></div>

<article id="resume-node" class="minimalist--black">

  <header class="resume-header">
    <h1>{{ resumeModel.fullname }}</h1>
    <h3>{{ resumeModel.position }}</h3>
  </header>

  <section class="resume-body">

    <div class="resume-col">

      <article class="resume-entry">
        <h4>profile</h4>
        <p>{{ resumeModel.bio }}</p>
      </article>

      <article class="resume-entry">
        <h4>contact</h4>
        <p>{{ resumeModel.email }}</p>
        <p>{{ resumeModel.github }}</p>
        <p>{{ resumeModel.linkedIn }}</p>
        <p>{{ resumeModel.skypeID }}</p>
        <p>{{ resumeModel.website }}</p>
      </article>

      <article class="resume-entry">
        <h4>languages</h4>
        <ul class="entry-list--graded">
          <li *ngFor="let l of resumeModel.languages">
            <span>{{ l.name }}</span><span>{{ l.grade.label }}</span>
          </li>
        </ul>
      </article>

    </div>

    <div class="resume-col">

      <article class="resume-entry">
        <h4>experience</h4>
        <ul class="entry-list--simple">
          <li *ngFor="let e of resumeModel.experiences">
            <p>{{ e.position }} at {{ e.company }}, from <span>{{ e.from | date }} to {{ e.to | date }}</span></p>
            <p>{{ e.summary }}</p>
          </li>
        </ul>
      </article>

      <article class="resume-entry">
        <h4>skills</h4>
        <ul class="entry-list--graded">
          <li *ngFor="let s of resumeModel.skills">
            <span>{{ s.name }}</span>
            <span>
              <i *ngFor="let g of asArray(s.grade)">X</i>
            </span>
          </li>
        </ul>
      </article>

    </div>

  </section>

</article>

<app-resume-preview-toolbar (save)="saveAsPDF()"></app-resume-preview-toolbar>
