<div class="res-toolbar res-toolbar--bottom">
  <mat-toolbar color="primary">

    <span>TOOLBAR</span>

    <span class="tb-fill"></span>

    <button mat-button (click)="onSave()" [disabled]="!formValid">
      <span>Save</span>
      <mat-icon aria-label="new skill"><i class="material-icons">
          add_circle_outline
        </i></mat-icon>
    </button>

    <button mat-button (click)="onPreview()" [disabled]="!formValid">
      <span>Preview</span>
      <mat-icon aria-label="new skill"><i class="material-icons">
          add_circle_outline
        </i></mat-icon>
    </button>

  </mat-toolbar>
</div>