<div class="res-toolbar res-toolbar--bottom">
  <mat-toolbar color="primary">

    <span>1</span>

    <span class="tb-fill"></span>

    <!-- <button mat-icon-button color="primary" (click)="onSave()">
      <span>Save</span>
      <mat-icon aria-label="new skill"><i class="material-icons">
          add_circle_outline
        </i></mat-icon>
    </button>

    <button mat-icon-button color="primary" (click)="onPreview()">
      <span>Preview</span>
      <mat-icon aria-label="new skill"><i class="material-icons">
          add_circle_outline
        </i></mat-icon>
    </button> -->

        <button mat-button color="primary" (click)="onSave()">
          <span>Save</span>
          <mat-icon aria-label="new skill"><i class="material-icons">
              add_circle_outline
            </i></mat-icon>
        </button>
        
        <button mat-button color="primary" (click)="onPreview()">
          <span>Preview</span>
          <mat-icon aria-label="new skill"><i class="material-icons">
              add_circle_outline
            </i></mat-icon>
        </button>

  </mat-toolbar>
</div>