<h2>Resumes found</h2>

<mat-list>
  <h3 mat-subheader>This web lets you:</h3>
  <mat-list-item>fill out a form with a person's resume information</mat-list-item>
  <mat-list-item>preview it in a nice template</mat-list-item>
  <mat-list-item>and then: export it as a pdf or as a json if you want to keep a local copy</mat-list-item>
  <mat-list-item>currently resumes are saved in your browser storage <span>-we keep no copy of your data-</span></mat-list-item>
</mat-list>

<div class="card-list">
  <mat-card class="resume-card" *ngFor="let resume of resumes">
    <mat-card-header>
      <mat-card-title>
        {{ resume.fullname }}
      </mat-card-title>

      <mat-card-subtitle>
        {{ resume.position }}
      </mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>
    </mat-card-content>

    <mat-card-actions [align]="'end'">
      
      <button
        mat-icon-button
        (click)="onDeleteResume(resume)"
        color="warn"
        matTooltip="delete resume"
        [matTooltipPosition]="'above'"
      >
        <mat-icon aria-label="delete">
          <i class="material-icons">
            remove_circle_outline
          </i>
        </mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="onGoToPreview(resume)"
        matTooltip="preview resume"
        [matTooltipPosition]="'above'"
        >
        <mat-icon aria-label="preview">
          <i class="material-icons">
            print
          </i>
        </mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="onEditResume(resume)"
        matTooltip="edit resume"
        [matTooltipPosition]="'above'"
      >
        <mat-icon aria-label="edit">
          <i class="material-icons">
            edit_circle_outline
          </i>
        </mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>
</div>